@using DmStore.Services 
@using Microsoft.AspNetCore.Identity
@using System.Security.Claims
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@inject IClientUserService _clientUserService

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
        var client = await _clientUserService.GetClientByIdAsync(User.FindFirstValue(ClaimTypes.NameIdentifier));

    @if (User.Identity.IsAuthenticated && client == null)
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="Clients" asp-action="Create">Completar Cadastro</a>
        </li>
    }
    <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Olá @(client != null ? client.NAME : User.Identity?.Name)</a>
    </li>
    <li class="nav-item">
        <form  class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button  type="submit" class="nav-link btn btn-link text-dark">Sair</button>
        </form>
    </li>
}
else
{
        
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Cadastrar-se</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Entrar</a>
    </li>
}
</ul>
