@model Product

@{
    ViewData["Title"] = "Editar Produto";
}

<h1>@ViewData["Title"]</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group m-3">
                <label asp-for="SUPPLIER.NAME" class="control-label"></label>
                <input asp-for="SUPPLIER.NAME" disabled class="form-control" />
            </div>
            <div class="form-group m-3">
                <label asp-for="NAME" class="control-label"></label>
                <input asp-for="NAME" class="form-control" />
                <span asp-validation-for="NAME" class="text-danger"></span>
            </div>
            <div class="form-group m-3">
                <label asp-for="DESCRIPTION" class="control-label"></label>
                <input asp-for="DESCRIPTION" class="form-control" />
                <span asp-validation-for="DESCRIPTION" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label>Imagem Atual</label><br />
                <img src="~/images/@Model.IMAGE_URI" alt="@Model.IMAGE_URI" style="height: 100%; width: 100%" />
            </div>

            <div class="form-group">
                <label asp-for="IMAGE_UPLOAD" class="control-label"></label>

                <div class="input-group custom-file-button">
                    <input type="file" class="form-control" id="ImagemUpload" asp-for="IMAGE_UPLOAD">
                    <label class="input-group-text" for="ImagemUpload">Escolher</label>
                </div>

                <span asp-validation-for="IMAGE_UPLOAD" class="text-danger"></span>
            </div>

            @* <div class="form-group m-3">
                <label asp-for="IMAGE_URI" class="control-label"></label>
                <input asp-for="IMAGE_URI" class="form-control" />
                <span asp-validation-for="IMAGE_URI" class="text-danger"></span>
            </div> *@
            <div class="form-group m-3">
                <label asp-for="PRICE" class="control-label"></label>
                <input asp-for="PRICE" class="form-control" />
                <span asp-validation-for="PRICE" class="text-danger"></span>
            </div>
            <div class="form-group m-3">
                <label asp-for="STOCK_QTD" class="control-label"></label>
                <input asp-for="STOCK_QTD" class="form-control" />
                <span asp-validation-for="STOCK_QTD" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="ID" />
            <input type="hidden" asp-for="STATUS" />
            <input type="hidden" asp-for="SUPPLIER_ID" />
            <div class="form-group m-3">
                <input class="btn btn-primary m-3" type="submit" value="Salvar" />
                <a class="btn btn-primary m-3" asp-action="Index">Voltar</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}